@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
html,
body {
    padding: 0;
    margin: 0;
    font-family: century gothic;
    text-align: center;
}

body {
    background-color: #6f8794;
    background-image: linear-gradient(225deg, #651010 0%, #313158 50%, #000c12 100%);
    width: default;
    height: default;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.title {
    text-align: center;
    font-size: 60px;
    color: #d6c2c2;
    margin-top: 100px;
    font-weight: 100px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 900px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-image: linear-gradient(135deg, #a9bac5 0%, #9599E2 100%);
}

input {
    width: calc(100% - 20px);
    padding: 9px;
    margin: auto;
    margin-top: 20px;
    font-size: 15px
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.hover-nav ul {
    background-color: #0f0f10;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hover-nav li {
    float: left;
}

.hover-nav li a {
    position: relative;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    z-index: 0;
}

li a:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #838282;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

li a:hover:before,
li a:focus:before {
    transform: scale(1);
}

.hoverop ul {
    background-color: #333357;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hoverop li {
    float: left;
}

.hoverop li a {
    position: relative;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 21px 21.3px;
    text-decoration: none;
    z-index: 0;
}

li a:before {
    position: absolute;
    content: "";
    width: 101%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #c5bc3e;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

li a:hover:before,
li a:focus:before {
    transform: scale(1);
}

.animated-border-button {
    background-color: #141414;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 30px 80px 35px;
    position: relative;
}

.animated-border-button:before,
.animated-border-button:after {
    border: 0 solid transparent;
    transition: all 0.3s;
    content: '';
    height: 0;
    position: absolute;
    width: 24px;
}

.animated-border-button:before {
    border-top: 2px solid #141414;
    right: 0;
    top: -4px;
}

.animated-border-button:after {
    border-bottom: 2px solid #141414;
    bottom: -4px;
    left: 0;
}

.animated-border-button:hover:before,
.animated-border-button:hover:after {
    width: 100%;
}